<!DOCTYPE html>
<html>
<head>Online Task Manager</head>
<body>
<h3>Add a Task</h3>

<form action='/' method="post">
  <input type="text" name="task">
  <input type="submit" value="Create Task">
</form>
</body>
</html>